@import '../styles/animations.scss';

.tabs {
  position: relative;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #ddd;

  &:before {
    content: '';
    position: absolute;
    left: 1rem;
    bottom: -3px;
    width: 5.5rem;
    height: 5px;
    border-radius: 4px;
    background-color: #EC1D24;
    transition: transform ease-in-out 0.3s;
    will-change: transform;
  }

  &[data-current='0']:before { transform: translateX(0); }
  &[data-current='1']:before { transform: translateX(5.5rem); }
  &[data-current='2']:before { transform: translateX(11rem); }
  &[data-current='3']:before { transform: translateX(16.5rem); }

  button {
    width: 5.5rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    transition: opacity linear 0.2s;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.tab-content {
  padding: 1rem;
  overflow: auto;

  &__item {
    display: none;
    animation: fadeIn 0.7s;
  }

  &__message {
    margin-top: 2rem;
    text-align: center;
  }

  &[data-current='0'] .tab-content__item:nth-child(1) { display: block; }
  &[data-current='1'] .tab-content__item:nth-child(2) { display: block; }
  &[data-current='2'] .tab-content__item:nth-child(3) { display: block; }
  &[data-current='3'] .tab-content__item:nth-child(4) { display: block; }
}

.references {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6.5rem);
}

.references-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 0.6rem;

    img {
      width: 100px;
      height: 150px;
      margin-bottom: 0.5rem;
    }
  }
}